body
{
	background: transparent url("Map.png") no-repeat;
	background-size: cover;
}

/*******CONTENT*******/

#content
{
	width: 900px;
	color: white;
	margin: 0px auto;
	text-align: justify;
	padding: 10px;
}

/*******MENU*******/
#menu ul li
{
	 list-style-type:none;
	 display: inline-block;
	 border-radius: 10px;
	 width: auto;
	 padding: 3px;
	 
	 margin-right: 5px;
	 margin-left: 5px;
}

#menu ul li:hover
{
}


#menu ul li a
{
	text-decoration:none;
	color:white;
}

#menu ul
{
	text-align: center;
}

#menu
{
	background-color: #1C1C1C;
	border: 3px solid white;
	border-radius: 5px; 
	width: 60%;
	margin: auto;
	
	margin-bottom: 20px;
}

#content p
{
	background-color: #1C1C1C;
	border: 3px solid white;
	border-radius: 5px; 
	margin: auto;
	padding: 10px;
} 
/*******MENU_LATERAL*******/
#menul ul li
{
	list-style-type:none;
	height: 50px;
}

#menul ul
{
	position: absolute;
	margin-top: 100px;
} 

#menul ul li a
{
	text-decoration:none;
	color:white;
}
