body
{
	background: transparent url("Map.png") no-repeat;
	background-size: cover;
	font-family: retro;
	font-size: 13px;
}

p
{
	font-family : Arial;
}


@font-face {
    font-family: retro;
    src: url(manaspc.ttf);
}

/*******CONTENT*******/

#menu, #text
{
	width: 900px;
	color: white;
	margin : auto;
	text-align: justify;
	padding: 10px;
}

#text
{
	background-color: #1C1C1C;
	border: 3px solid white;
	border-radius: 5px; 
	margin: auto;
	padding: 10px;
} 
#text h1
{
	margin: auto;
	border-bottom: 2px solid white;
	font-weight : normal;
}
/*******MENU*******/
#menu ul li
{
	 list-style-type:none;
	 display: inline-block;
	 border-radius: 10px;
	 width: auto;
	 padding: 3px;
	 margin-right: 5px;
	 margin-left: 5px;
}


#menu li
{
	display: inherit;
}

#menu ul li:hover
{
}


#menu ul li a
{
	text-decoration:none;
	color:white;
}

#menu ul li a:hover::before
{
	content: "► ";
}

#menu li:hover ul
{
	left: auto;
}

#menu ul
{
	text-align: center;
}

#menu
{
	background-color: #1C1C1C;
	border: 3px solid white;
	border-radius: 5px; 
	width: 33%;
	margin: auto;
	margin-bottom: 20px;
}

#menu ul li ul {
    position: absolute;
    left: -999em;
    text-align: left;
    z-index: 1000;
}

#menu ul li ul:hover
{
	display: block;
}

/*******MENU_LATERAL*******/
#retro
{
	background-color: #1C1C1C;
	border: 3px solid white;
	border-radius: 5px; 
	margin: auto;
	padding: 10px;
	position: absolute;
	margin-top: 104px;
}
#retro li{list-style-type:none;}

#menul ul li h2
{
	text-decoration:none;
	color: white;
	border-bottom: 2px solid white;
	font-weight : normal;
}

#menul a
{
	display : block;
	margin-left : -20px;
	color: white;
	padding : auto;
	text-decoration:none;
}

#menul a:hover::before
{
	content: "► ";
}

#menul ul li a{line-height : 25px;}

#menul{margin-left : 10px;}
