body
{
	background-image: url(img/arr.jpg);
}

header, nav, section,footer{display:block;}

section
{
	background: #F2F2F2 none repeat scroll 0% 0%;
	width: 1200px;
}

p
{
	padding-right: 50px;
	padding-left: 50px;
}

header
{
	height: 271px;
	width: 1200px;
	background-color: #653410;
	background-image: url(img/ban.png);
	background-repeat: no-repeat;
	background-position: center;
}

nav
{
	background: #FAFAFA none repeat scroll 0% 0%;
	border: 1px solid #E1E1E1;
	width: 1198px;
	text-align: center;
}

footer
{
	height: 70px;
	width: 1200px;
	background-color: #653410;
	text-align: center;
}

li
{
	display: inline-block;
	border-right: 1px solid #E1E1E1;
	line-height: 42px;
	font-size: 15px;
	text-transform: uppercase;
	margin-left: 1%;
	padding-right: 1%;
}

article
{
	background: #FFF none repeat scroll 0% 0%;
	border: 1px solid #E1E1E1;
	box-shadow: 0px 1px 0px #E5E5E5;
	padding-bottom: 5%;
	padding-top: 5%;
	width: 80%;
	margin: 2% auto;
	border-radius: 10px;
	text-align: center;
}

nav #menu
{
	margin: 0px;
}

nav #menu li a
{
	text-decoration: none;
	color: black;
}

#tous
{
	box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.44);
	width: 1200px;
	margin: auto;
	background-color: #F2F2F2;
}
#seph
{
	background: #FFF none repeat scroll 0% 0%;
	height:5px;
}

#sepb
{
	background: black none repeat scroll 0% 0%;
	height:5px;
}

#menu ul li
{
	display: inherit;
}

#menu ul 
{
    position: absolute;
    left: -999em;
    text-align: left;
    z-index: 1000;
}

#menu li:hover ul 
{
    left: auto;
	background-color: #FAFAFA;
	margin-left: -1.1%;
	width: 10.1%;
	padding: 0;
	text-align: center;
}

#imgart
{
	width: 250px; 
	height: 200px; 
	display: block; 
	margin: auto;
}

#pagination
{
	padding-bottom: 5px;
	text-align: center;
}

/*Music*/

#music
{
	width: 345px;
	height: 200px;
	margin: 2%;
	display: inline-block;
}

#imgmusic
{
	width: 200px;
	height: 150px;
}

/*Slide*/
@keyframes AutoSlide {
    0% {
        left: 0px; /*1ère image*/
    }
    15% {
        left: 0px; /*idem pour attente*/
    }
    35% {
        left: -150px; /*2ème image*/
    }
    50% {
        left: -150px; /*idem pour attente*/
    }
    70% {
        left: -300px; /*3ème image*/
    }
    85% {
        left: -300px; /*idem pour attente*/
    }
    100% {
        left: 0px; /*1ère image*/
    }
}

@keyframes AutoSlide {
    0%, 15%, 100% {
        left: 0px; /*1ère image*/
    }
    35%, 85%{
        left: -510px; /*2ème image*/
    }/*
    70%, 85% {
        left: 0px; 
    }*/
}

#slideshow {
    position: relative;
    width: 480px;
    height: 320px;
    margin:  20px auto;
    overflow: hidden;
}
#sContent li {
    display: inline;
}

#sContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    margin: 0;            
    padding: 0;
    
    /*CSS3 keyframes animation*/
    animation-name: AutoSlide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
